{% extends "layout.html" %}

{% block title %}TeamManagr{% endblock %}

{% block body %}
<div class="col-lg-12">
  <img src="/static/logohub_logo.png" id="logo">
</div>

<div class="container col-md-8 col-md-offset-2">
  <div class="text-center padding">
    <h3 class="padding">Hello, and welcome to TeamManagr.</h3>
    <h3 class="padding">TeamManagr allows you to manage all of your teams in one place.</h3>
    <h3 class="padding">Please use the links above to login if you already have an account or to register if you do not.</h3>
  </div>
</div>



{% endblock %}
