{% extends "layout.html" %}

{% block title %}{{ team[0] }}{% endblock %}

{% block body %}
<h1 class="text-center page-header">{{ team[0] }}</h1>

<div class="container col-md-8">
  <h3 class="text-center" style="padding-bottom: 15px;">Team messages</h3>
  <div class="container col-md-12">
    <table class="table table-striped">
      <thead>
          <th class="col-md-2 text-center">From</th>
          <th class="col-md-2 text-center">Subject</th>
          <th class="col-md-6 text-center">Message</th>
          <th class="col-md-2 text-center">Sent</th>
      </thead>
        {% for message in messages%}
          <tr class="text-center">
            <td> {{ message[0] }} </td>
            <td> {{ message[1] }} </td>
            <td> {{ message[2] }} </td>
            <td> {{ message[3] }} </td>
          <tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-sm-12">
  <div id="messaging" class="col-sm-offset-2 text-center">
    <form action="/mail" method="POST" id="send_mail" class="form container panel col-sm-8 padding">
      <fieldset class="">
      <legend class="">Add a message to the message board</legend>
      <input type="text" name="team_id" value="{{team[1]}}" hidden>
      <div class="form-group" id="subject_input">
        <label class="control-label col-sm-2" for="subject" id="subject_label">Subject</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="subject" placeholder="Message subject" id="subject" autocomplete="off">
        </div>
      </div>
      <div class="form-group" id="body_input">
        <label class="control-label col-sm-2" for="body" id="body_label">Body</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="body" rows="4" placeholder="Message body" id="body"></textarea>
        </div>
      </div>
        <input class="btn btn-primary" type="submit" name="mail_button" id="mail_button" value="Send">
        </fieldset>
    </form>
  </div>
  </div>
</div>


<div id="calendar" class="col-md-2 col-lg-offset-1 col-sm-offset-4">

</div>



<div id="placeholder" class="col-md-8"></div>

<div class="container text-center col-md-4">
  <h3 class="text-center" style="padding: 15px;">Upcoming Events</h3>
  <table class="table table-striped">
    <thead>
        <th>Event</th>
        <th>Details</th>
        <th>Date/Time</th>
        <th>Posted by</th>
    </thead>
    {% for event in events%}
      <tr class="eventrow">
        <td class="eventtitle"> {{ event[0] }} </td>
        <td> {{ event[1] }} </td>
        <td class="date"> {{ event[2] }} </td>
        <td> {{ event[3] }} </td>
      <tr>
    {% endfor %}
  </table>

  <form action="/newevent" method="POST" id="newevent_form">
    <input type="text" name="team_id" value="{{team[1]}}" hidden>
    <input type="submit" name="add_event" class="btn btn-info" value="Add New Event">
  </form>

</div>

<div id="placeholder" class="col-md-8"></div>
<div id="members" class="col-md-4 container">
  <h3 class="text-center">Team Members</h3>
    <table class="table table-striped">
      <thead>
          <th>Username</th>
          <th>Role</th>
      </thead>
      {% for member in members%}
        <tr>
          <td> {{ member[0] }} </td>
          <td> {{ member[1] }} </td>
        <tr>
      {% endfor %}
    </table>
  <form class="container" action="/addmember" method="POST" id="newmember_form">
    <div class="form-group col-sm-4">
      <input type="text" name="team" value="{{team}}" hidden>
      <label class="control-label" for="newmember">Add a user to the team</label>
      <div class="input-group">
      <input class="form-control" type="text" id="newmember" name="newmember" placeholder="Username" autocomplete="off">
      <span class="input-group-btn">
      <input class="btn btn-primary" type="submit" name="submit_button" id="submit_button" value="Add" style="border: 0px">
      </span>
      </div>
    </div>
  </form>
</div>




<!-- Hidden input to decode calendar text -->
<textarea name="input" rows="8" cols="80" id="input" hidden>{{calendar}}</textarea>


<script type="text/javascript">
  //New member addition
  let newmember = document.querySelector("#newmember");
  let button = document.getElementById("submit_button");
  button.addEventListener("click", function(event){
          event.preventDefault();
          if (newmember.value == ""){
              return false;
          }
          else {
              document.getElementById('newmember_form').submit();
          }
      })


  //Calender rendering
  let calendar = document.getElementById("calendar");
  let input = document.getElementById("input");
  let string = input.value;
  calendar.innerHTML = string;

  let active = {{act}}
  let activerow = document.querySelectorAll(".eventrow");
  let monthLookup = {
    "Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6,
    "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12
  }

  for (let i=0; i<activerow.length; i++){
    activityMonth = activerow[i].querySelector(".date").innerText.substr(4, 3);
    activityYear = activerow[i].querySelector(".date").innerText.substr(11, 4);
    activityDay = Number(activerow[i].querySelector(".date").innerText.substr(8, 2));
    if ((monthLookup[activityMonth] == active[0][0] && activityYear == active[0][1]) ||
        (monthLookup[activityMonth] == active[1][0] && activityYear == active[1][1])) {
          elementId = monthLookup[activityMonth].toString() + "-" + activityYear
          month = document.getElementById(elementId);
          days = month.getElementsByTagName('td');
          title = activerow[i].querySelector(".eventtitle").innerText
          for(j=0; j<days.length; j++){
            if(days[j].innerText == activityDay){
              days[j].classList.add("event_active");
              days[j].setAttribute("data-title", title)
            }
          }
    }
  }

  //Sending mail
  let mailbutton = document.getElementById("mail_button");
  let subject = document.querySelector("#subject");
  let body = document.querySelector("#body")
  mailbutton.addEventListener("click", function(event){
          event.preventDefault();
          if (subject.value == "" || body.value == ""){
              return false;
          }
          else {
              document.getElementById('send_mail').submit();
          }
      })



</script>

{% endblock %}
